---
import PageLayout from "../../layouts/PageLayout.astro";
import CardLink from "@/components/CardLink.astro";
import { getLangFromUrl, useTranslations } from "src/i18n/utils";
import { getCollection } from "astro:content";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export function getStaticPaths() {
	return [{ params: { lang: "en" } }, { params: { lang: "zh-TW" } }];
}

// Fetch blog posts for current language and attach category entries to each post
const acts = (await getCollection("act"))
	.filter((post) => post.id.startsWith(lang + "/"))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const manuals = (await getCollection("manual"))
	.filter((post) => post.id.startsWith(lang + "/"))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const fragments = (await getCollection("fragment"))
	.filter((post) => post.id.startsWith(lang + "/"))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout>
	<div class="w-full max-w-[768px] mx-auto aspect-square sm:aspect-video relative my-5 rounded-lg overflow-hidden">
		<spline-viewer
			className="absolute inset-0"
			loading-anim-type="spinner-big-light"
			url="https://prod.spline.design/XpiiBrX-wdVvPksO/scene.splinecode"></spline-viewer>
	</div>
	<div class="w-full max-w-[768px] mx-auto my-5">
		<p>
			歡迎蒞臨<strong>科技立委葛如鈞．寶博士宇宙</strong
			>！這是中華民國第十一屆全國不分區立法委員葛如鈞（寶博士）的個人網站，在這片宇宙當中，您將探索寶博士的思維、興趣、品味，以及對法案行動、虛擬智慧法規調適和多元宇宙倡議的內容。
		</p>
	</div>
	<!-- 雜項 -->
	<div class="gap-4 grid sm:grid-cols-[repeat(auto-fill,minmax(300px,1fr))]">
		{fragments.map((post) => <CardLink post={post} lang={lang} category="fragment" />)}
	</div>
	<!-- 法案行動 -->
	<h1 class="text-2xl font-semibold my-4">{t("cat.acts")}</h1>
	<div class="gap-4 grid sm:grid-cols-[repeat(auto-fill,minmax(300px,1fr))]">
		{acts.map((post) => <CardLink post={post} lang={lang} category="act" />)}
	</div>
	<!-- 寶博使用說明書 -->
	<h1 class="text-2xl font-semibold my-4">{t("cat.manuals")}</h1>
	<div class="gap-4 grid sm:grid-cols-[repeat(auto-fill,minmax(300px,1fr))]">
		{manuals.map((post) => <CardLink post={post} lang={lang} category="manual" />)}
	</div>
</PageLayout>
