---
import PageLayout from "../../layouts/PageLayout.astro";
import CardLink from "@/components/CardLink.astro";
import LegislatorActivity from "@/components/LegislatorActivity.astro";
import BlogRss from "@/components/BlogRss.astro";
import TranspalRSS from "@/components/TranspalRSS.astro";
import NewsFeed from "@/components/NewsFeed.astro";
import { getLangFromUrl, useTranslations } from "src/i18n/utils";
import { getCollection } from "astro:content";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export function getStaticPaths() {
	return [{ params: { lang: "en" } }, { params: { lang: "zh-TW" } }];
}

// Fetch blog posts for current language and attach category entries to each post
const acts = (await getCollection("act"))
	.filter((post) => post.id.startsWith(lang + "/"))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const manuals = (await getCollection("manual"))
	.filter((post) => post.id.startsWith(lang + "/"))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const fragments = (await getCollection("fragment"))
	.filter((post) => post.id.startsWith(lang + "/"))
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout>
	<div class="mb-6 flex flex-col items-center md:-mt-10 md:flex-row-reverse md:gap-6">
		<div class="mx-auto w-full">
			<h1 class="text-foreground my-2 text-3xl leading-[1.35em] font-bold md:text-4xl">{t("home.title")}</h1>
			<p class="text-lg leading-[1.6em] text-gray-600 md:text-xl dark:text-gray-400">
				{t("home.description")}
			</p>
		</div>
	</div>
	<div class="mb-4 grid grid-cols-1 gap-4 sm:grid-cols-2">
		<LegislatorActivity lang={lang} />

		<!-- 新聞 -->
		<NewsFeed lang={lang} variant="card" />
	</div>
	<div class="mb-4 grid grid-cols-1 gap-4 sm:grid-cols-2">
		<!-- 部落格文章 -->
		<BlogRss lang={lang} />
		<!-- TransPal 逐字稿 -->
		<TranspalRSS lang={lang} limit={5} />
	</div>
	<!-- 雜項 -->
	<div class="grid grid-cols-[repeat(auto-fill,minmax(150px,1fr))] gap-3 md:grid-cols-[repeat(auto-fill,minmax(300px,1fr))] md:gap-6">
		{fragments.map((post) => <CardLink post={post} lang={lang} category="fragment" />)}
	</div>
	<!-- 法案行動 -->
	<h1 class="text-foreground mt-12 mb-6 text-center text-2xl font-bold md:text-left">{t("cat.acts")}</h1>
	<div class="grid grid-cols-[repeat(auto-fill,minmax(150px,1fr))] gap-3 md:grid-cols-[repeat(auto-fill,minmax(300px,1fr))] md:gap-6">
		{acts.map((post) => <CardLink post={post} lang={lang} category="act" />)}
	</div>
	<!-- 寶博使用說明書 -->
	<h1 class="text-foreground mt-12 mb-6 text-center text-2xl font-bold md:text-left">{t("cat.manuals")}</h1>
	<div class="grid grid-cols-[repeat(auto-fill,minmax(150px,1fr))] gap-3 md:grid-cols-[repeat(auto-fill,minmax(300px,1fr))] md:gap-6">
		{manuals.map((post) => <CardLink post={post} lang={lang} category="manual" />)}
	</div>
</PageLayout>
